<ion-modal-view>
    <ion-header-bar class="bar custom-color">
    <h1 class="title" style="color:white">Арга хэмжээ үүсгэх</h1>
    <div class="buttons">
      <button class="button button-clear" style="color:white" ng-click="closeModal()">Хаах</button>
    </div>
    </ion-header-bar>
    <ion-content>
    <form>
       <div class="list" id="createEvent">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Арга хэмжээний нэр:</span>
        <input type="text"  placeholder="Арга хэмжээний нэр" ng-model="event.event_title">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Байршил:</span>
        <input type="text"  placeholder="Байршил" ng-model="event.event_location">
      </label>
      <div class="row" style="padding-top:0;padding-bottom:0;padding-left:0">
          <div class="col" id="left" style="padding:0">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Эхлэх өдөр:</span>
              <input type="date" ng-model="event.event_start_date">
            </label>
          </div>
          <div class="col" id="right" style="padding:0">
           <label class="item item-input item-stacked-label">
            <span class="input-label" >Дуусах өдөр:</span>
            <input type="date" ng-model="event.event_end_date">
          </label>
          </div>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label" >Эхлэх цаг:</span>
        <input type="time" ng-model="event.event_start_time">
      </label>
      <div class="item" style="padding-top:0">
            <button class="button custom-color button-block" ng-click="createEvent(event)">Арга хэмжээ үүсгэх</button>
      </div>
    </div>
    </form>
    </ion-content>
  </ion-modal-view>