 <ion-view  title="{{tickets.length}} ширхэг" >
   <ion-nav-bar class="bar custom-color">
     <ion-nav-buttons side="left">
      <button class="button button-clear" ui-sref="tab.dash" style="color:white">
        <i class="icon ion-ios-arrow-back" style="padding:0 5px 0 5px"></i>
        Буцах
      </button>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="show($event)" style="color:white" >
       <i class="fa fa-sort-amount-asc"></i>
      </button>
        <button class="button button-clear" style="color:white" ng-click="showFilterBar()">
        <i class="icon ion-ios-search" style="padding:0 5px 0 5px"></i>
      </button>
    </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content overflow-scroll='true' >
     <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>
    <div collection-repeat="ticket in tickets | orderBy:sortType:sortReverse | filter:search" >
             <ion-item  id="check" ng-model="ticket.ticket_isUsed">
              <a class="item" id="profile" >
              <img  ng-if="!ticket.ticket_user.person_profile_img" src="img/default.png" >
              <img  fallback-src="{{backsite}}/{{ticket.ticket_user.person_profile_img}}" ng-if="ticket.ticket_user.person_profile_img" ng-src="{{ticket.ticket_user.person_profile_img}}">
              <h2>{{ticket.ticket_user.person_firstname}} {{ticket.ticket_user.person_lastname}}</h2>
              <p>{{ticket.ticket_user.person_email}}</p>
              <p>Тасалбар код: {{ticket.ticket_short_id}} </p>
            </a>
             <span class="used" ng-if="ticket.ticket_isUsed == true">Ашигласан</span>
            </ion-item>
    </div>
    <div class="list card" ng-if="tickets.length == 0"  style="text-align:center;padding-top:10px;padding-bottom:10px;margin-top:5px">
          Тасалбар байхгүй байна.
        </div>
    
    </ion-content>
</ion-view>