<ion-view >
 <ion-nav-bar align-title="right" class="bar custom-color">
     <ion-nav-buttons side="left" >
      <button class="button-clear custom-color" ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
        <i class="icon ion-chevron-left" style="font-size:20px"> Буцах</i> 
      </button>
    </ion-nav-buttons>
      <ion-nav-title class="custom-color" >
      Нууц үг мартсан
    </ion-nav-title>
    </ion-nav-bar>
  <ion-content>
  <ion-item>
  <div class="item item-body" style="border:0px;margin-top:10%">
  		<h3 style="font-size:18px">Нууц үг мартсан уу?</h3>
      	<p>Та доорх талбарт өөрийн бүртгүүлсэн и-мэйл хаяг эсвэл утасны дугаараа оруулан шинэ нууц үг авах боломжтой.</p>
  	</div>
      <div class="list">
               <form name="myForm" id="forgot">
          <label class="item item-input item-floating-label" >
              <span class="input-label">И-мэйл эсвэл утасны дугаар:</span>
              <input type="text" name="text" placeholder="И-мэйл эсвэл утасны дугаар" ng-model="reg.change">
          </label>
          <br>
          <button ng-disabled="myForm.$invalid" style="background-color:#289BB8;color:white;border-radius:5px;padding-top:10px;padding-bottom:10px;width:100%;border:1px solid #289BB8 " ng-click="changePassword(reg)" type="submit" >
                    Шинэ нууц үг авах
            </button>
            </form>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
