 <ion-view title="{{notusedTickets.length}} ширхэг"  left-buttons="leftButtons" >
 <ion-content overflow-scroll='true' >
     <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>
  <div ng-repeat="ticket in notusedTickets">
             <ion-item  id="check" ng-model="ticket.ticket_isUsed" >
              <a class="item" id="profile" >
                <img ng-if="!ticket.ticket_user.person_profile_img" src="img/default.png" >
              <img fallback-src="{{backsite}}/{{ticket.ticket_user.person_profile_img}}" ng-if="ticket.ticket_user.person_profile_img" ng-src="{{ticket.ticket_user.person_profile_img}}">
              <h2>{{ticket.ticket_user.person_firstname}} {{ticket.ticket_user.person_lastname}}</h2>
              <p>{{ticket.ticket_user.person_email}}</p>
              <p>Тасалбар дугаар:{{ticket.ticket_short_id}} </p>
              <p></p>
            </a>
            </ion-item>
    </div>
    <div class="list card" ng-if="notusedTickets.length == 0" style="text-align:center;padding-top:10px;padding-bottom:10px;margin-top:5px">
          Тасалбар байхгүй байна.
        </div>

    </ion-content>
<!-- <ion-footer-bar align-title="left" style="border:1px solid #f8f8f8" class="bar bar-subfooter" ng-click="openModal()">
  <h1 class="title" style="color:#289BB8">Мессеж илгээх</h1>
  <div class="buttons" ng-click="openModal()">
    <button class="button" style="height:90%;border:1px solid #289BB8;color:#289BB8;padding-left:15px;padding-right:15px"><i class="icon ion-iphone"></i></button>
  </div>
</ion-footer-bar> -->
</ion-view>