<ion-view cache-view="false">
<ion-nav-bar class="bar custom-color">
<ion-nav-buttons side="left">
<button class="button button-clear" ng-click="goBack()" style="color:white">
  <i class="icon ion-ios-arrow-back" style="padding:0 5px 0 5px"></i>
  Буцах
</button>
</ion-nav-buttons>
<ion-nav-title>Хайлт</ion-nav-title>
<ion-nav-buttons side="secondary">
<button class="button button-clear" ng-click="showFilterBar()" style="color:white" >
  <i class="icon ion-ios-search" style="padding:0 5px 0 5px"></i>
</button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content class="has-header">
<div  class="list" id="searchList" ng-repeat="ticket in searchTickets | filter: search | orderBy:'ticket_fullname'">
 <a class="item item-avatar">
  <img ng-if="!ticket.ticket_user.person_profile_img" src="img/default.png" >
  <img fallback-src="{{backsite}}/{{ticket.ticket_user.person_profile_img}}" ng-if="ticket.ticket_user.person_profile_img"  ng-src="{{ticket.ticket_user.person_profile_img}}">

  <h2 ng-if="ticket.ticket_fullname == ''">{{ticket.ticket_created_by.person_firstname}} {{ticket.ticket_created_by.person_lastname}}</h2>
  <h2 ng-if="ticket.ticket_fullname != ''">{{ticket.ticket_fullname}}</h2>
  <h2 ng-if="ticket.ticket_fullname == undefined">{{ticket.ticket_created_by.person_firstname}} {{ticket.ticket_created_by.person_lastname}}</h2>
  <p ng-if="ticket.ticket_phonenumber == ''">{{ticket.ticket_countof}} ширхэг</p>
  <p ng-if="ticket.ticket_phonenumber != ''">{{ticket.ticket_phonenumber}}</p>
  <p ng-if="ticket.ticket_phonenumber == undefined">{{ticket.ticket_countof}} ширхэг</p>
  
  
  <button class="button button-icon button-clear" style="color:black" ng-if="ticket.ticket_isUsed == false" ng-click="show($event,ticket.id)">
    <i class="icon ion-android-more-vertical"></i>
  </button>
  <button class="button button-icon button-clear" style="color:red" ng-if="ticket.ticket_isUsed == true" >
    <i class="icon ion-android-checkmark-circle"></i>
  </button>
</a>

</div>
<div class="list card" ng-if="searchTickets.length == 0" style="text-align:center;padding-top:10px;padding-bottom:10px;margin-top:5px">
  Тасалбар байхгүй байна.
</div>
</ion-content>
</ion-view>