<div class="bar bar-header item-input-inset">
  <button class="button button-clear button-dark"  ng-click="myGoBack()"  style="color:black"><i class="icon ion-ios-arrow-back"></i></button>
  <label class="item-input-wrapper" style="margin-right:8px">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="search" placeholder="Search">
  </label>
  <button class="button button-clear button-dark"  ng-click="clear()" ng-show="search.length" id="clearButton" style="color:black;margin:0"><i class="icon ion-ios-close-outline"></i></button>
</div>