<ion-view view-title="Тасалбар шалгах"  cache-view="false">
   <ion-nav-bar class="bar custom-color" >
   <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="scan()">
        <i class="icon ion-ios-camera-outline" style="padding:0 5px 0 5px;color:white"></i>
      </button>
    </ion-nav-buttons>
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

  <div  class="item item-text-wrap"  style="font-size:15px;text-align:center;margin-top:100px;border:none" ng-if="isChecked == 0">
     <p style="font-size:16px" id="scanData">  Та дээр байрлах &nbsp <i class="icon ion-ios-camera-outline"></i>&nbsp товчин дээр дарж тасалбараа уншуулна уу.</p><br>
       <p style="font-size:16px; text-transform: uppercase;font-weight:bold" id="scanData"> Таны тасалбарын мэдээлэл энэд гарч ирэх болно.</p>
           <button class="button button-block" style="background-color:#289bb8;color:white;border:1px solid #289bb8" ng-click="scan()">
            Камераар шалгах
          </button>
            <button class="button button-block" style="background-color:#21D268;color:white;border:1px solid #21D268" ng-click="openModal()">
            Тасалбарын кодоор шалгах
          </button>
  </div>
 
   
  
    <div class="card" style="margin-top:100px"  ng-if="isChecked == 2" >
  <div  class="item item-text-wrap"  style="font-size:15px;text-align:center">
     <p  id="info">Ашиглагдсан тасалбар байна. Та дахин шалгана уу.</p>
       <button class="button button-block" style="background-color:#289bb8;color:white;border:1px solid #289bb8" ng-click="scan()">
            Тасалбар шалгах
          </button>
  </div>
  </div>
    <div class="card"  style="margin-top:100px" ng-if="isChecked == 3">
  <div  class="item item-text-wrap"  style="font-size:15px;text-align:center" >
     <p   id="info">Тийм тасалбар байхгүй байна. Та дахин шалгана уу.</p>
      <button class="button button-block" style="background-color:#289bb8;color:white;border:1px solid #289bb8" ng-click="scan()">
            Тасалбар шалгах
          </button>
  </div>
  </div>
     <div class="card"  style="margin-top:100px" ng-if="isChecked == 4">
  <div  class="item item-text-wrap"  style="font-size:15px;text-align:center" >
     <p  id="info">Тийм тасалбар алга. Та дахин шалгана уу.</p>
      <button class="button button-block" style="background-color:#289bb8;color:white;border:1px solid #289bb8" ng-click="scan()">
            Тасалбар шалгах
          </button>
  </div>
  </div>
  <div class="card" ng-if="isChecked == 1" style="margin-top:25px" >
  <div class="item" id="ticketInfo" >
              <h2>Амжилттай бүртгэлээ</h2>
               <label class="item item-input field-disabled">
                    <span class="input-label">И-мэйл:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_email"  disabled>
                </label>
                  <label class="item item-input field-disabled">
                    <span class="input-label">Утас:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_phonenumber"  disabled>
                </label>
                  <label class="item item-input field-disabled">
                    <span class="input-label">Нэр:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_fullname"  disabled>
                </label>
                   <label class="item item-input field-disabled">
                    <span class="input-label">Тасалбарын төрөл:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_type"  disabled>
                </label>
                       <label class="item item-input field-disabled">
                    <span class="input-label">Тасалбарын үнэ:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_price"  disabled>
                </label>
                          <label class="item item-input field-disabled">
                    <span class="input-label">Арга хэмжээ нэр:</span>
                     <input type="text" style="font-weight:bold" ng-model="ticketInfo.ticket_event.event_title"  disabled>
                </label>
  </div>
</div>
   
  </ion-content>
</ion-view>
